parameters:
    level: 9
    paths:
        - src/
    excludePaths:
        - tests/*
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    phpVersion: 80500
    bootstrapFiles:
        - vendor/larastan/larastan/bootstrap.php
    ignoreErrors:
        - "#Trait .*HasEnumMetadata is used zero times#"
