parameters:
    level: 6
    paths:
        - src/
    excludePaths:
        - tests/*
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    bootstrapFiles:
        - vendor/larastan/larastan/bootstrap.php
        - stubs/translation.php
    ignoreErrors:
        - "#Trait .*HasEnumMetadata is used zero times#"
