parameters:
    level: 9
    paths:
        - src
    bootstrapFiles:
        - vendor/autoload.php
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false
    universalObjectCratesClasses:
        - Illuminate\Database\Eloquent\Model
        - Illuminate\Support\Collection
